.delete-device-btn {
    background-color: transparent;
}

.delete-device-btn:hover{
    background-color: var(--bs-danger);
}

.plus-btn {
    color: var(--bs-white);
}

.plus-btn:hover {
    color: var(--bs-warning);
}

.device-bg-gradient {
    background: linear-gradient(var(--bs-secondary), var(--bs-warning), var(--bs-secondary) ) no-repeat;
}

.device-header-bg-gradient {
    background: linear-gradient(var(--bs-secondary), var(--bs-warning)) no-repeat;
}

.device-header-bg-gradient-reverse {
    background: linear-gradient(to top, var(--bs-secondary), var(--bs-warning) ) no-repeat;
}