.display-bg-gradient-primary {
    background: linear-gradient(#fff, var(--bs-primary) ) no-repeat;
}

.display-bg-gradient-secondary {
    background: linear-gradient(#fff, var(--bs-secondary) ) no-repeat;
}

.display-bg-gradient-info {
    background: linear-gradient(#fff, var(--bs-info) ) no-repeat;
}

.display-bg-gradient-success {
    background: linear-gradient(#fff, var(--bs-success) ) no-repeat;
}

.chart-bg-gradient {
    background: linear-gradient(var(--bs-secondary), var(--bs-warning)) no-repeat;
}
