.display-bg-gradient {
    background: linear-gradient(#AAA, #fff ) no-repeat;
}

.scale-btn {
    color: var(--bs-white);
}

.scale-btn:hover {
    color: var(--bs-warning);
    transform: scale(1.02)
}